body
{
    background-color: darkorchid;
}

#puzzle-container
{
    width: 600px;
    height: 600px;
    border: 1px solid;
    position: relative;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.puzzle-item
{
    width: 150px;
    height: 150px;
    border: 1px solid;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: aqua;
}
