html,
body 
{
    height: 100%;
}

body 
{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("");
    background-size: auto;
    font-family: "Rubik", sans-serif;
    color: rgb(255, 255, 255);
}